<h1>{{title}}</h1>

<!-- Get all tasks from the database and display their information -->
<h2>Tasks:</h2>

{{#each tasks}}
<div class="task">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>{{date}}</p>
    <p>{{message}}</p>
    <p>{{interval}}</p>
    <a href="/tasks/edit/{{_id}}">Edit</a>
    <a href="/tasks/delete/{{_id}}">Delete</a>
</div>
{{/each}}

<br>
<br>
<br>
<br>
<br>
<a href="/tasks/add">Add Task</a>